.appBar {
  background-color: white !important; //#55c57a
}
.label {
  text-transform: none !important;
}
.loginButton {
  //alignItems: flex-start;
  text-transform: none !important;
}
.toolbar {
  //display: flex;
  //maxWidth: 1300px;
  //margin: auto;
  justify-content: space-around !important;
}
