{
  "plugins": ["@babel/plugin-syntax-dynamic-import", "@loadable/babel-plugin"],
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ]
}
