/node_modules/
/.next/
/package-lock.json
/public/favicon.ico
/public/vercel.svg
/public/images/
/dist/

/uploadedFiles/

/credentials/

/server/api/entity/Photo/__test/file/

/server/utils/sharp/images/
/server/utils/sharp/result/
.env