.root {
  display: flex;
  align-items: center;

  .input {
    display: none;
  }
  .error {
    color: #f44336;
    margin-top: 3px;
    margin-right: 14px;
    margin-left: 14px;
    font-size: 0.75rem;
    text-align: left;
    line-height: 1.66;
    letter-spacing: 0.03333em;
  }
}
