{
  "plugins": [
    //"babel-plugin-graphql-tag",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-remove-graphql-queries"
  ],
  "presets": ["babel-preset-gatsby", "@babel/preset-typescript"]
}
